body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    line-height: 1.5;
    color: #24292e;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container{
    display: flex;
    /* Webkit 内核的浏览器，必须加上-webkit前缀。 */
    display: -webkit-flex;

    /* flex-direction属性决定主轴的方向（即项目的排列方向） */
    /* 
        flex-direction: 
        row 主轴为水平方向，起点在左端。
        row-reverse 主轴为水平方向，起点在右端。
        column 主轴为垂直方向，起点在上沿。
        column-reverse 主轴为垂直方向，起点在下沿。
    */
    flex-direction: column;

    /* 默认情况下，项目都排在一条线（又称"轴线"）上。flex-wrap属性定义，如果一条轴线排不下，如何换行 */
    /* flex-wrap: nowrap | wrap | wrap-reverse; */
    flex-wrap: nowrap;

    /* justify-content属性定义了项目在主轴上的对齐方式。 */
    /* justify-content: flex-start | flex-end | center | space-between | space-around; */
    justify-content: flex-start;

    width: 1000px;
}

/* Header */

.header{
    order: 0;
    height: 60px;

    /* 
        flex属性是flex-grow, flex-shrink 和 flex-basis的简写，默认值为0 1 auto 
        flex-grow: 定义项目的放大比例，默认为0，即如果存在剩余空间，也不放大
        flex-shrink: 定义了项目的缩小比例，默认为1，即如果空间不足，该项目将缩小。
        flex-basis: 定义了在分配多余空间之前，项目占据的主轴空间（main size）
    */
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-title {
    flex: 1;
}

.nav {
    height: 50px;
    display: flex;
    align-items: center;
}

.nav a {
    color: #24292e;
    margin-right: 20px;
}

/* Content */
.content{
    padding: 10px 0px 20px 0px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}

.detail {
    flex: 1 1 auto;
    margin-right: 50px;
}

.sider{
    width: 250px;
    padding: 5px;
    flex: 0 0 auto;
}

.sider img {
    max-width:100%;
}

/* Footer */
.footer{
    height: 60px;
    display: flex;
    /* Webkit 内核的浏览器，必须加上-webkit前缀。 */
    display: -webkit-flex;
    align-items: center;
    border-top: 1px solid #eaecef;
}

/* RECENT */

.sider-new-posts li {
    margin-bottom: 10px;
}

.sider-category li {
    margin-bottom: 10px;
}

/* POST */
.post-list-item {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eaecef;
}

.post-item-title {
    font-size: 28px;
}

.post-item-category {
    font-size: 14px;
}

.post-item-description {
    font-size: 16px;
}

.post-item-readmore {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.post-item-readmore a{
    align-self: center;
}